<tr *ngFor= "let user of users">
<td [style.background-color] = "user.age <=10 ? 'green' : user.age <= 20 ? 'yellow' : 'red'">{{user.name}}</td>
<td [style.background-color] = "user.age <=10 ? 'green' : user.age <= 20 ? 'yellow' : 'red'">{{user.lastname}}</td>
<td [style.background-color] = "user.age <=10 ? 'green' : user.age <= 20 ? 'yellow' : 'red'">{{user.fiscalcode}}</td>
<td [style.background-color] = "user.age <=10 ? 'green' : user.age <= 20 ? 'yellow' : 'red'">{{user.phone}}</td>
<td [style.background-color] = "user.age <=10 ? 'green' : user.age <= 20 ? 'yellow' : 'red'">{{user.email}}</td>
<td [style.background-color] = "user.age <=10 ? 'green' : user.age <= 20 ? 'yellow' : 'red'">{{user.province}}</td>
<td [style.background-color] = "user.age <=10 ? 'green' : user.age <= 20 ? 'yellow' : 'red'">{{user.age}}</td>


</tr>